# SCM syntax highlighting & preventing 3-way merges
Cargo.lock merge=binary linguist-language=TOML linguist-generated=true -diff
pixi.lock merge=binary linguist-language=YAML linguist-generated=true -diff
